#movie-list-container {
    /* 内部元素之间的间隔 */
    row-gap: 10px;
    column-gap: 20px;

    width: 100%;
    height: 100vh;

    /* 排序方式 */
    display: flex;
    flex-direction: column; /* 垂直排列子元素 */
}

.movie-section {
    width: 90%;
    height: 100px;
    display: flex;
    /* 主轴方向 */
    justify-content: left;
    /* 交叉周方向 */
    align-items: center;
    margin: 0 20px;
}


.tool-bar {
    display: flex;
    flex-direction: row; /* 水平排列子元素 */
    /*background: lightgreen;*/
    column-gap: 10px;
}

.movie-table-wrapper {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: auto;
    /* 让表格占在容器的顶部开始 */
    align-items: flex-start;
    padding: 5px;
}

/* 操作按钮svg：修改、删除、置轮播*/
.svg-group {
    display: flex;
    justify-content: space-evenly; /* 在按钮之间均匀分布 */
}

.svg-group svg {
    fill: var(--text-color);
}

/* 横向列表：搜索、分类下拉框、搜索关键字、搜索按钮 */
.horizontal-ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

<!-- element 自定义样式-->
.pagination-wrapper {
    margin-top: 10px;
    width: 100%;
    /* flex 默认主轴方向是水平方向 */
    display: flex;
    justify-content: center;
}

/* 下拉框和表格的自定义颜色 */
.el-input__inner,
.el-select-dropdown,
.el-table,
.el-table th,
.el-table tr
{
    background-color: var(--base-color);
    color: var(--secondary-text);
}

/* 表格悬停的背景色 */
.el-table--enable-row-hover
.el-table__body tr:hover>td {
    background-color: var(--background-hover-color);
}

/* 分页组件的自定义颜色 */
.el-pagination {
    background-color: var(--base-color);
}
