/* 各个嵌入iframe的通用样式 */
#portal-home-page,
#portal-Chinese-page,
#portal-English-page,
#portal-JPandKR-page,
#portal-other-page,
#portal-recommend-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* 隐藏iframe的滚动条 */
    overflow: hidden;
}

/* 影视盒子 */
.box-group {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 每行6列 */
    gap: 15px;
    max-width: 1200px;
    margin: 5px 20px;
}

.movieBox {
    width: 100%; /* 每列自适应父元素宽度 */
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.movieBox:hover {
    transform: scale(1.05);
}

.box-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    padding-top: 2px;
}

.box-name {
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 猜你喜欢、全部影视 */
.box-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 70%;
}

