#portal-login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-register-item {
    /* 容器本身 */
    width: 350px;
    height: auto;
    /* 背景透明 */
    background: rgba(255, 255, 255, 0.1);
    /* 毛玻璃效果*/
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* 加上阴影 */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 让登录框水平居中 */
    margin: auto;

    /* 内部元素之间的间隔 */
    row-gap: 10px;
    column-gap: 20px;
}

a {
    text-decoration: none;
}

.login-name {
    color: #c4c2c2;
}

.reset-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

/* element-按钮 */
.el-button--primary {
    background-color: var(--button-color);
    color: var(--button-font-color);
    border-radius: 15px;
    font-weight: bold;
    width: 70%;
    height: 50px;
    margin: 0 auto;
}

.el-form-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.el-form-item__content {
    width: 80%;
    display: flex;
    justify-content: center;
}

.el-input__inner {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

/* element 获取验证码的按钮 */
.get-code-btn {
    height: 28px;
    border: none;
    background-color: transparent;
}

