/* 默认颜色: 浅色主题*/
:root {
    /* 背景色 */
    --base-color: #FFFFFF;
    /* 次级背景色: 侧边栏颜色*/
    --base-variant: #F1F4F9;
    /* 主要文字颜色: 如电影名称颜色 */
    --text-color: #202327;
    /* 次级文字颜色 如侧边栏文字颜色*/
    --secondary-text: #202327;
    /* 主色: 可能用于按钮、导航栏或其他主要 UI 组件的背景色*/
    --primary-color: #4A5568;
    /* 强调色: 用于高亮元素，比如链接、按钮或选中状态。*/
    --accent-color: #202327;
    /*  按钮色  */
    --button-color: #2173DF;
    /*   按钮字体颜色 */
    --button-font-color: #F3F7FD;
}

/* darkMode: 暗色主题*/
.darkMode {
    /* 背景色 */
    --base-color: #1A1E23;
    /* 次级背景色: 侧边栏颜色*/
    --base-variant: #14171A;
    /* 主要文字颜色: 比如main里面的颜色 */
    --text-color: #FFFFFF;
    /* 次级文字颜色: 如侧边栏文字颜色 */
    --secondary-text: #CBD5E0;
    /* 主色: 可能用于按钮、导航栏或其他主要 UI 组件的背景色*/
    --primary-color: #CBD5E0;
    /* 强调色: 用于高亮元素，比如链接、按钮或选中状态。*/
    --accent-color: #FFFFFF;
    /*  按钮色  */
    --button-color: #2173DF;
    /*   按钮字体颜色 */
    --button-font-color: #F3F7FD;
}

/* 切换明暗按钮样式 */
#theme-switch {
    border: none;
    background-color: var(--base-color);
}

#theme-switch svg {
    fill: var(--text-color);
}
/*默认状态下，隐藏第第二个图标：太阳，显示月亮图标 */
#theme-switch svg:last-child {
    display: none;
}
/* 暗色模式时，隐藏第一个图标，显示太阳图标 */
.darkMode #theme-switch svg:first-child {
    display: none;
}
/* 暗色模式时，显示第二个图标：太阳 */
.darkMode #theme-switch svg:last-child {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Kanit", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--secondary-text);
}
.section {
    width: 70%;
    max-width: 1200px;
}

.header-bar {
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /* 保证在最上层 */
    background-color: var(--base-color);
}


.header-bar-left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.header-bar-left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.leftNav-title {
    font-size: 25px;
}

/*  横向列表 */
.header-bar-ul {
    padding-left: 30px;
    /* 去掉列表前面的小圆点 */
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
}
.header-bar-ul li a {
    /* 让::after能相对于a正确定位 */
    position: relative;
    text-decoration: none;
    color: inherit;
    padding-bottom: 4px; /* 给底部留空间 */
    transition: color 0.3s ease;
}

/* 悬停时更换颜色 + 显示下划线条 */
.header-bar-ul li a:hover {
    color: var(--button-color);
}

/* 创建一个伪元素放在文字底部，初始宽度为0，悬停时展开到100% */
.header-bar-ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--button-color);
    transition: width 0.3s ease;
}
/* 悬停时小条展开 */
.header-bar-ul li a:hover::after {
    width: 100%;
}

/* 当前选中的菜单，显示下划线 */
.header-bar-ul li a.active::after {
    width: 100%;
}

/* 顶部用户按钮 */
.top-user-button {
    border: none;
    background-color: var(--base-color);
    margin-right: 10px;
}

.top-user-button svg {
    fill: var(--text-color);
}
